  <style>
            h2.metal {
                background-color: red; /* Set background color to red */
                color: white; /* Change text color to white */
            }

            h2.non-metal {
                background-color: blue; /* Set background color to blue */
                color: white; /* Change text color to white */
            }

            h2.semi-metal {
                background-color: purple; /* Set background color to purple */
                color: white; /* Change text color to white */
            }

            .metal {
                color: red;
            }

            .non-metal {
                color: blue;
            }

            .semi-metal {
                color: purple;
            }
        </style>
